body {
    margin: 0;
    padding: 0;
    background-color: bisque;    
    font-family: 'Coustard', serif;
    font-family: 'Heebo', sans-serif;
}

section {
    width: 70%;
    margin: 0 auto;
    align-content: center;
}

p {
    font-size: medium;
}

li {
    list-style-type:none;
    margin: 10px;
}

a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: brown;
}

h1 h2 h3 {
    font-style: italic;
}